---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html {
    font-family: 'Sorts Mill Goudy', serif;
}
@media (max-width: 480px) {
    html {
        font-size: 83%;
    }
}
.page-content {
    max-width: 720px;
    margin: 0 auto;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    color: #800;
    font-weight: normal;
}
time {
    font-family: 'Raleway', sans-serif;
    color: #888;
}
a {
    color: #316d96;
    text-decoration: none;
}
a:hover {
    color: #006be4;
    text-decoration: underline;
}
a:visited {
    color: #7e5494;
}
a:visited:hover {
    color: #af00cf;
}
.post-content p {
    font-size: 1.7rem;
}
.post-content p:first-child {
    font-size: 2.0rem;
}
.post-content p:first-child::first-letter {
    float: left;
    font-size: 8.0rem;
    line-height: 8.0rem;
    padding-right: 2.0rem;
}


/* // Our variables */
/* $base-font-family: Helvetica, Arial, sans-serif; */
/* $base-font-size:   16px; */
/* $small-font-size:  $base-font-size * 0.875; */
/* $base-line-height: 1.5; */

/* $spacing-unit:     30px; */

/* $text-color:       #111; */
/* $background-color: #fdfdfd; */
/* $brand-color:      #2a7ae2; */

/* $grey-color:       #828282; */
/* $grey-color-light: lighten($grey-color, 40%); */
/* $grey-color-dark:  darken($grey-color, 25%); */

/* $on-palm:          600px; */
/* $on-laptop:        800px; */



/* // Using media queries with like this: */
/* // @include media-query($palm) { */
/* //     .wrapper { */
/* //         padding-right: $spacing-unit / 2; */
/* //         padding-left: $spacing-unit / 2; */
/* //     } */
/* // } */
/* @mixin media-query($device) { */
/*     @media screen and (max-width: $device) { */
/*         @content; */
/*     } */
/* } */



/* // Import partials from `sass_dir` (defaults to `_sass`) */
/* @import */
/*         "base", */
/*         "layout", */
/*         "syntax-highlighting" */
/* ; */
