/** Pages */
.page-content {
    padding-top: $spacing-unit;
    max-width: 720px;
    margin: 0 auto;

    @include media-query($on-palm) {
        padding: 15px 5px;
    }    
}
.page-heading {
    margin-bottom: $spacing-unit;
}

/** Posts */
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    margin-bottom: 0;
}
.post-content p:first-child {
    font-size: 1.2rem;
}
p.post-content p:first-child::first-letter {
    float: left;
    font-size: 4.0rem;
    line-height: 4.5rem;
    padding-right: 1.5rem;
}